extends ../layout

block head-pack

	script(src="js/test.js" type="text/javascript")


block body-pack

	form(id="f1" method="post")
		label(for="name") Name
		input#name(name="name" type="text")
		label(for="phone") Phone
		input#phone(name="phone" type="number")
		label(for="email") Email
		input#email(name="email" type="email")
		button(type="submit") Submit

	form(id="f2" action="https://securegw-stage.paytm.in/theia/processTransaction")