extends ./layout

block head-pack
	script(src="/js/check.js" type="text/javascript")

block body-pack

	br
	br
	br
	br

	h2=title

	form#checkForm
		.form-group
			label(for="event") Event
			input#event.form-control(type="text" name="event")
		.form-group
			label(for="email") Email
			input#email.form-control(type="email" name="email")
		
		button.btn.btn-primary(type="submit")

	br
	br

	h2#response