extends layout

block body-pack
	// Page Title Section
	section.inner_cover.parallax-window(data-parallax='scroll', data-image-src='img/bg/bg-img.png')
		.overlay_dark
		.container
			.row.justify-content-center.align-items-center
				.col-12
					.inner_cover_content
						h3
	// Page Title Section End
	
	// Info Section
	section.pt100.pb100
		.container
			.col-md-8.col-12
				h3
				.contact_info
					p
					ul.social_list
						li
							a(href='#')
								i.ion-social-facebook
						li
							a(href='#')
								i.ion-social-twitter
						li
							a(href='#')
								i.ion-social-instagram
			.col-12.mt70
				#map.map(data-lon='78.3394732', data-lat='17.3486373')
	// Info Section End

block extra-scripts
	// map
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAuahgsm_qfH1F3iywCKzZNMdgsCfnjuUA')