extends layout

block body-pack
	// Cover Section Slider
	section#home.home-cover
		.cover_slider.owl-carousel.owl-theme
			.cover_item(style="background: url('img/bg/slider.png');")
				.slider_content
					.slider-content-inner
						.container
							.slider-content-center
								h2.cover-title
								strong.cover-xl-text IVARNA
								p.cover-date
	// Cover Section Slider End
	
	// Event Info
	section.pt100.pb100
		.container
			.row.justify-content-center
				.col-6.col-md-3
					.icon_box_two
						i.ion-ios-calendar-outline
						.content
							h5.box_title
							p.flowShot
				.col-6.col-md-3.flowCap
					.icon_box_two
						a(href='https://www.google.com/maps/place/K+L+University+H/@17.3695621,78.3426406,14z/data=!4m8!1m2!2m1!1skluniversity+hyderabad!3m4!1s0x3bcb959fee5b3bad:0x294b001a89bbce8f!8m2!3d17.348484!4d78.339923', target='_blank')
							i.ion-ios-location-outline
						.content
							h5.box_title
							a(href='https://www.google.com/maps/place/K+L+University+H/@17.3695621,78.3426406,14z/data=!4m8!1m2!2m1!1skluniversity+hyderabad!3m4!1s0x3bcb959fee5b3bad:0x294b001a89bbce8f!8m2!3d17.348484!4d78.339923', target='_blank')
				.col-6.col-md-3
					.icon_box_two
						i.ion-ios-timer-outline
						.content
							h5.box_title
	// Event Info End
	
	include ./mods/countdown

	// Tech Events
	section.pt100.pb100
		.container
			.section_title
				h3.title
			.row.justify-content-center
				.col-12.col-md-6
					p
				.col-12.col-md-6
					p
			// Tech Events Features
			.row.justify-content-center.mt30
				.col-12.col-md-6.col-lg-3
					.icon_box_one
						i.lnr.lnr-laptop
						.content
							h4 Hackathon
							a(href='events.html') read more
				.col-12.col-md-6.col-lg-3
					.icon_box_one
						i.lnr.lnr-rocket
						.content
							h4 Drone Race
							a(href='events.html') read more
				.col-12.col-md-6.col-lg-3
					.icon_box_one
						i.lnr.lnr-bullhorn
						.content
							h4 Project Expo
							a(href='events.html') read more
				.col-12.col-md-6.col-lg-3
					.icon_box_one
						i.lnr.lnr-car
						.content
							h4 Land Circuit
							a(href='events.html') read more
				.col-12.col-md-6.col-lg-3
					.icon_box_one
						i.lnr.lnr-flag
						.content
							h4 RC Drag Race
							a(href='events.html') read more
				.col-12.col-md-6.col-lg-3
					.icon_box_one
						i.lnr.lnr-code
						.content
							h4 Coding
							a(href='events.html') read more
				.col-12.col-md-6.col-lg-3
					.icon_box_one
						i.lnr.lnr-music-note
						.content
							h4 EDM
							a(href='events.html') read more
				.col-12.col-md-6.col-lg-3
					.icon_box_one
						i.lnr.lnr-laptop-phone
						.content
							h4 Gaming
							a(href='events.html') read more
			// Tech Events Features End
	// Tech Events End

	// MBA Events
	section.pt100.pb100
		.container
			.section_title
				h3.title
			.row.justify-content-center
				.col-12.col-md-6
					p
				.col-12.col-md-6
					p
	// MBA Events End

	// Price section
	section.pb100
		.container
			.section_title.mb50
				h3.title
			.row.justify-content-center
				.col-md-4.col-12
					.price_box.active
						.price_highlight
						.price_header
							h4
							h6
						.price_tag
							sup $
						.price_features
							ul
								li
								li
								li
								li
						.price_footer
							a.btn.btn-primary.btn-rounded(href='#') Purchase
				.col-md-4.col-12
					.price_box
						.price_header
							h4
							h6
						.price_tag
							sup $
						.price_features
							ul
								li
								li
								li
								li
						.price_footer
							a.btn.btn-primary.btn-rounded(href='#') Purchase
				.col-md-4.col-12
					.price_box
						.price_header
							h4
							h6
						.price_tag
							sup $
						.price_features
							ul
								li
								li
								li
								li
						.price_footer
							a.btn.btn-primary.btn-rounded(href='#') Purchase
	// Price Section End

	include ./mods/sponsors-block