doctype html
html  
	head
		// ========== Meta Tags ==========
		meta(charset='UTF-8')
		meta(name='description', content='IVARNA KLH TECH FEST')
		meta(name='keywords', content='Ivarna,KLH,TECH FEST,FEB')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		// ========== Title ==========
		title #{title}
		// ========== Favicon Ico ==========
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		// ========== STYLESHEETS ==========
		// Bootstrap CSS
		link(href='/css/bootstrap.min.css', rel='stylesheet')
		// Fonts Icon CSS
		link(href='/css/font-awesome.min.css', rel='stylesheet')
		link(href='/css/et-line.css', rel='stylesheet')
		link(href='/css/ionicons.min.css', rel='stylesheet')
		// Carousel CSS
		link(href='/css/owl.carousel.min.css', rel='stylesheet')
		link(href='/css/owl.theme.default.min.css', rel='stylesheet')
		// Animate CSS
		link(rel='stylesheet', href='/css/animate.min.css')
		// Custom styles for this template
		link(href='/css/main.css', rel='stylesheet')

		
		// jquery
		script(src='/js/jquery.min.js')
		// bootstrap
		script(src='/js/popper.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/waypoints.min.js')
		// slick carousel
		script(src='/js/owl.carousel.min.js')
		// parallax
		script(src='/js/parallax.min.js')
		// Counter up
		script(src='/js/jquery.counterup.min.js')
		// Counter down
		script(src='/js/jquery.countdown.min.js')
		// WOW JS
		script(src='/js/wow.min.js')
		// Custom js
		script(src='/js/main.js')

		block head-pack

	body
		.loader
			.loader-outter
			.loader-inner

		include ./mods/navbar

		block body-pack

		include ./mods/footer

		block extra-scripts