// EDM Passes Purchases
section.bg-img.pt100.pb100(style="background-image: url('/img/bg/tickets.png');")
	.container
		.section_title.mb30
			h3.title.color-light EDM passes available
		.row.justify-content-center.align-items-center
			.col-md-9.text-md-left.text-center.color-light Limited VIP passes available
			.col-md-3.text-md-right.text-center
				a.btn.btn-primary.btn-rounded.mt30(href='/pay') buy now
// EDM Passes Purchases End