
// Footer Start
footer
	.container
		.row.justify-content-center
			.col-md-4.col-12
				.footer_box
					.footer_header
						.footer_logo
							img(src='img/logo.png', alt='Ivarna')
					.footer_box_body
						p
						ul.footer_social
							li
								a(href='#')
									i.ion-social-facebook
							li
								a(href='#')
									i.ion-social-twitter
							li
								a(href='#')
									i.ion-social-instagram
			.col-12.col-md-4
				.footer_box
					.footer_header
						h4.footer_title
					.footer_box_body
						ul.instagram_list
							li
								a(href='#')
									img(src='img/cleander/c1.png', alt='instagram')
							li
								a(href='#')
									img(src='img/cleander/c2.png', alt='instagram')
							li
								a(href='#')
									img(src='img/cleander/c3.png', alt='instagram')
							li
								a(href='#')
									img(src='img/cleander/c3.png', alt='instagram')
							li
								a(href='#')
									img(src='img/cleander/c2.png', alt='instagram')
							li
								a(href='#')
									img(src='img/cleander/c1.png', alt='instagram')
			.col-12.col-md-4
				.footer_box
					.footer_header
						h4.footer_title
					.footer_box_body
						.newsletter_form
							input.form-control(type='email', placeholder='E-Mail here')
							button.btn.btn-rounded.btn-block.btn-primary SUBSCRIBE
.copyright_footer
	.container
		.row.justify-content-center
			.col-md-6.col-12
				p
					script.
						document.write(new Date().getFullYear());
			.col-12.col-md-6
				ul.footer_menu
					li
						a(href='index.html') Home
					li
						a(href='sponsors.html') Sponsors
					li
						a(href='events.html') Events
					li
						a(href='contact.html') Contact
// Footer End