
// Footer Start
footer
	.container
		.row.justify-content-center
			.col-md-6.col-12
				.footer_box
					.footer_header
						.footer_logo
							img(src='/img/Ivarna_Banner_Icon_White.png', alt='Ivarna')
					.footer_box_body
						p
						ul.footer_social
							li
								a(href='https://www.facebook.com/ivarna2k19/' target='_')
									i.ion-social-facebook
							li
								a(href='https://twitter.com/IvarnaKlh' target='_')
									i.ion-social-twitter
							li
								a(href='https://www.instagram.com/klhivarna/?hl=en' target='_')
									i.ion-social-instagram
			.col-12.col-md-6
				.footer_box
					.footer_header
						h4.footer_title
					.footer_box_body
						ul.instagram_list
							li
								a(href='https://www.instagram.com/p/BuF1JtmHvjP/' target='_')
									img(src='/img/cleander/c1.png', alt='instagram')
							li
								a(href='https://www.instagram.com/p/BuDanlKHwQh/' target='_')
									img(src='/img/cleander/c2.png', alt='instagram')
							li
								a(href='https://www.instagram.com/p/BuAuNaFHD_2/' target='_')
									img(src='/img/cleander/c3.png', alt='instagram')
							li
								a(href='https://www.instagram.com/p/BuDrSH4Hnn6/' target='_')
									img(src='/img/cleander/c3.png', alt='instagram')
							li
								a(href='#')
									img(src='/img/cleander/c2.png', alt='instagram')
							li
								a(href='#')
									img(src='/img/cleander/c1.png', alt='instagram')
	
.copyright_footer
	.container
		.row.justify-content-center
			.col-md-6.col-12
				h4(style="color:white")
					| Designed by Frontier Studios
					
			.col-12.col-md-6
				ul.footer_menu
					li
						a(href='/') Home
					li
						a(href='/sponsors') Sponsors
					li
						a(href='/events') Events
					li
						a(href='/contact') Contact
// Footer End