
// Sponsors Section
section.bg-gray.pt100.pb100
	.container
		.brand_carousel.owl-carousel
			.brand_item.text-center
				img(src='img/sponsors/sample.png', alt='brand')
			.brand_item.text-center
				img(src='img/sponsors/sample.png', alt='brand')
			.brand_item.text-center
				img(src='img/sponsors/sample.png', alt='brand')
			.brand_item.text-center
				img(src='img/sponsors/sample.png', alt='brand')
			.brand_item.text-center
				img(src='img/sponsors/sample.png', alt='brand')
// Sponsors Section End