
// Sponsors Section
section.bg-gray.pt100.pb100
	.container
		.brand_carousel.owl-carousel
			.brand_item.text-center
				img(src='img/brands/b1.png', alt='brand')
			.brand_item.text-center
				img(src='img/brands/b2.png', alt='brand')
			.brand_item.text-center
				img(src='img/brands/b3.png', alt='brand')
			.brand_item.text-center
				img(src='img/brands/b4.png', alt='brand')
			.brand_item.text-center
				img(src='img/brands/b5.png', alt='brand')
// Sponsors Section End