
// Sponsors Section
section.bg-gray.pt100.pb100
	.container
		h3 Our Sponsors
		.brand_carousel.owl-carousel
			.brand_item.text-center
				img(src='/img/sponsors/campusEvents.png')
			.brand_item.text-center
				img(src='/img/sponsors/ola.png')
			.brand_item.text-center
				img(src='/img/sponsors/pega.png')
			.brand_item.text-center
				img(src='/img/sponsors/talentSprint.png')
			.brand_item.text-center
				img(src='/img/sponsors/vtiger.png')
			.brand_item.text-center
				img(src='/img/sponsors/indianArtPrinters.png')
// Sponsors Section End