
// Sponsors Section
section.bg-gray.pt100.pb100
	.container
		h3 Our Sponsors
		br
		h5 Will be updated soon
		//- .brand_carousel.owl-carousel
		//- 	.brand_item.text-center
		//- 		img(src='img/sponsors/sample.png', alt='brand')
			//- .brand_item.text-center
			//- 	img(src='img/sponsors/sample.png', alt='brand')
			//- .brand_item.text-center
			//- 	img(src='img/sponsors/sample.png', alt='brand')
			//- .brand_item.text-center
			//- 	img(src='img/sponsors/sample.png', alt='brand')
			//- .brand_item.text-center
			//- 	img(src='img/sponsors/sample.png', alt='brand')
// Sponsors Section End